@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather|PT+Serif|Playfair+Display|Spectral+SC|Barlow+Semi+Condensed');

html, body, .container-fluid, .row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#navigation {
  background-color: rgb(38, 39, 40);
  color: rgb(193, 198, 204);
  height: 100vh;
  font-family: 'Merriweather', serif;
  font-size: 125%;
  padding-top: 3%;
  padding-right: 0;
}

.nav-links {
  padding: 4% 5% 4%;
  width: 100%;
}

.nav-links:hover {
  cursor: pointer;
  background-color: grey;
}

#main {
  height: 100vh;
  background-color: rgb(216, 216, 216);
  overflow-y: scroll;
}

#blog-title {
  text-align: center;
  font-family: 'Spectral SC', serif;
  font-size: 350%;
}

#content {
  padding: 2% 5%;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;

}

hr {
  border-color: rgb(91, 91, 91);
}

.entry-title {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 150%;
}

.entry-date {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 120%;
}

.entry-content {
  font-family: 'Playfair Display', serif;

}

.edit-btn {
  margin-right: 1%;
}

#post-submit, #edit-submit, #delete-submit {
  background-color: grey;
}


/* CSS STYLING FOR WELCOME PAGE*/

header {
	margin-top: 18%;
  margin-bottom: 4%;
	text-align: center;
	font-family: 'Spectral SC', serif;
	font-size: 300%;
	color: rgb(8, 66, 79);
}

#choices {
	padding: 1% 30%;
}

.choice {
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 150%;
}

.choice:hover {
	cursor: pointer;
	background-color: rgba(8, 99, 119, 0.3);
}

@media (max-width: 500px) {
	header {
		margin-top: 45%;
	}
}
