<!DOCTYPE html>
<html>
<head>
  <meta http-equix="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/main.css" />

  <title>blog</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" id="navigation">
        <a href="/welcome"><div class="nav-links">Welcome</div></a>
        <a href="/"><div class="nav-links">Home</div></a>
        <a href="/newentry"><div class="nav-links">New Post</div></a>
        {% if logged_in %}
          <a href="/logout"><div class="nav-links">Logout</div></a>
        {% else %}
          <a href="/login"><div class="nav-links">Login</div></a>
          <a href="/register"><div class="nav-links">Register</div></a>
        {% endif %}
      </div>
      <div class="col-sm-10" id="main">
        <div class="row">
          <div class="col-sm-12" id="blog-title">
            <div class="page-header">Full Stack Nanodegree Blog</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" id="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
