{% extends "base.html" %}

{% block content %}

<h2 class="section-title">Edit Entry</h2>
<br>
<form name="post-form" id="post-form" method="post">
  <input type="text" class="form-control" id="user-id" name="user-id" value="{{uid}}" style="display:none;">
  <div class="form-group">
    <label for="title">Entry Title:</label>
    <input type="text" class="form-control" id="title" name="title" value="{{p.title}}" required>
  </div>
  <div class="form-group">
    <label for="blog-text">Content:</label>
    <textarea rows="15" class="form-control" id="blog-text" name="blog-text" required>{{p.content}}</textarea>
  </div>
  <button type="submit" class="btn" id="post-submit">Submit</button>
  <a href="/blog/{{p.key().id()}}"><button type="button" class="btn btn-info">Cancel</button></a>
</form>

{% endblock %}
