<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equix="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../static/main.css">

	<title>login</title>
</head>
<body>
	<div class="container-fluid" id="login-container">
		<div class="row">
			<div class="col-sm-12">
				<header id="register-header">Login:</header>
			</div>
      <div class="col-sm-12" id="login">
				<form method="post" id="login-form" name="login-form">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <button type="submit" class="btn" id="login-submit" name="login-submit">Login</button>
        </form>
				<br>
				<a href="/register">Register</a>
				<div class="error">
					{{error_message}}
				</div>
			</div>
		</div>
	</div>
</body>

</html>
