<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equix="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../static/main.css">

	<title>welcome</title>
</head>
<body>
	<div class="container-fluid" id="welcome-container">
		<div class="row">
			<div class="col-sm-12">
				<header>Welcome, {{ username }}</header>
			</div>
      <div class="col-sm-12" id="choices">
				<a href="/blog"><div class="col-sm-6 choice">
					BLOG
				</div></a>
				<a href="/logout"><div class="col-sm-6 choice">
					LOGOUT
				</div></a>
			</div>
		</div>
	</div>
</body>

</html>
